body {
    padding: 50px;
    line-height: 150%;
}

.media-object {
    width: 128px;
    height: 128px;
    border-radius: 5px;
}

.media .thumbnail {
    display: inline-block;
    margin-bottom: 0;
}

.media-list {
    text-align: left;
}

@media (min-width: 450px) and (max-width: 767px) {
    .media-list {
        text-align: left;
    }
    .media .thumbnail {
        float: left;
        margin-right: 25px;
    }
}

.media:first-child {
    margin-top: 15px;
}

.btn-outline {
    color: #818791;
    background-color: transparent;
    border-color: #818791;
}

.btn-outline:hover,
.btn-outline:focus,
.btn-outline:active {
    color: #fff;
    background-color: #818791;
    border-color: #818791;
}

a {
    color: #818791;
}

a:hover,
a:focus {
    color: #e5e5e5;
}

a.thumbnail:hover,
a.thumbnail:focus,
a.thumbnail.active {
    border-color: #818791;
}

@media (min-width: 768px) and (max-width: 911px) {
    #search {
        padding-left: 0px;
    }
}
