
body {
    padding: 50px;
    line-height: 150%;
      background: url('rwanda-landscape_2.jpg') no-repeat center center fixed;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
      text-decoration-color:
}

.media-object {
    width: 128px;
    height: 128px;
    border-radius: 5px;
}

.media .thumbnail {
    display: inline-block;
    margin-bottom: 0;
}

.media-list {
    text-align: left;
}

@media (min-width: 450px) and (max-width: 767px) {
    .media-list {
        text-align: left;
    }
    .media .thumbnail {
        float: left;
        margin-right: 25px;
    }
}

.media:first-child {
    margin-top: 15px;
}

.btn-outline {
    color: #818791;
    background-color: transparent;
    border-color: #818791;
}

.btn-outline:hover,
.btn-outline:focus,
.btn-outline:active {
    color: #fff;
    background-color: #818791;
    border-color: #818791;
}

a {
    color: #818791;
}

a:hover,
a:focus {
    color: #e5e5e5;
}

a.thumbnail:hover,
a.thumbnail:focus,
a.thumbnail.active {
    border-color: #818791;
}

@media (min-width: 768px) and (max-width: 911px) {
    #search {
        padding-left: 0px;
    }
}

div.gallery {
    border: 1px solid #ccc;
}

div.gallery:hover {
    border: 1px solid #777;
}

div.gallery img {
    width: 100%;
    height: auto;
}

div.desc {
    padding: 15px;
    text-align: center;
}

* {
    box-sizing: border-box;
}

.responsive {
    padding: 0 6px;
    float: left;
    width: 24.99999%;
}

@media only screen and (max-width: 700px){
    .responsive {
        width: 49.99999%;
        margin: 6px 0;
    }
}

@media only screen and (max-width: 500px){
    .responsive {
        width: 100%;
    }
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

$red: Tomato;
$palered: #FFE8E3;

#input {
width: 100%;
border: 0px;
border-bottom: solid black 5px;
height:100px;
font-size:70px;
transition: all 0.2s;
transition-timing-function: ease-in-out;
}
#input:focus {
border-bottom-color: $red;
border-width: 10px;
outline: none;
}
#input:hover {
border-bottom-color: $red;
outline: none;
}
em {
background-color: $red;
color: #fff;
}
ul {
list-style-type: none;
border-bottom-width: 0px;
padding:0px;
color: #C1D9DD;
}
li {
padding: 10px;
transition: all 5s;
transition-timing-function: ease-in-out;
color: #C1D9DD;
}
li:hover {
/*background-color: Tomato;*/
background-color: Tomato;
}
